body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

#name {
  float:left;
  margin-left: 2%;
}

#name, .navlink {
  padding: 3px;
  border-bottom: 2px solid black;
}

nav {
  width: 75%;
}

ul {
  text-align: justify;
  margin: 5% 5% 0 65%;
  width: 60%;
}

li {
  display: inline-block;
}

ul:after {
  content: '';
  width: 100%;
  display: inline-block;
  clear: both;
}

.navlink {
  text-decoration: none;
  color: black;
  border-left: 2px solid black;
}

.navlink:hover {
  padding-top: 1px;
  padding-right: 1px;
  font-weight: bold;
  border: 2px solid black;
    background-color: black;
  color: white;
    transition: color 1s;
  transition: background-color 1s;
/*  margin: -2px;
*/}

a:active {
  background-color: white;
  color: black;
}

#content {
  padding-top: 5%;
  margin-left: 2%;
  font-size: .9em;
}

#grid {
  margin: 5%;
  width: 100%;
/*  position: relative;*/

}

img {
  height: 200px;
  filter: grayscale(100%) blur(1px) invert(100%);
  transition:all 1.5s;
  border-radius: 3px;
  float:left;
  cursor: pointer;
  z-index: 1;
}

img:hover {
  filter: none;
  padding-right: 5%;
}

.description {
  background-color:#991A29;
  border-radius: 5px;
  opacity: 0;
  transition: 5s;
  z-index: -1;
  padding: 2.6%;
  width: 40%;
  overflow: auto;
  top: -1em;
  position:relative;
  color: #F6CDD2;

}

.opaque {
  transition: opacity 5s;
  opacity: 1;
/*  clearfix:both;*/
}

/*.description:after {
  opacity: 0;
  transition: 5s;
  z-index: -1;
  padding: 10px;
  width: 50%;
  content:'';

}*/

