$dark-green: #049372;
$light-green: #26C281;

@mixin hover-transition ($color, $background-color) {
  transition: $color;
  transition: $background-color;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

#name {
  float: left;
  margin-left: 2%;
  margin-top: 20px;
}

#name, .navlink {
  padding: 3px;
  border-bottom: 2px solid black;
}

nav {
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  position: fixed;
  background-color: white;
  z-index: 1;
  opacity: .9;
  height: 55px;
}

ul {
  position: absolute;
  right: 0;
  padding: 7px;
}

li {
  display: inline-block;
  padding: 0 40px 0 40px;
}

@media (max-width: 675px) {
  li {
    padding: 0 20px 0 20px;
  }
}

#navlinks {
  width: 100%;
  text-align: right;
  position: relative;
}

.navlink {
  text-decoration: none;
  color: black;
  border-left: 2px solid black;
  &:hover {
    padding-top: 1px;
    padding-right: 1px;
    font-weight: none;
    border: 2px solid black;
    background-color: black;
    color: white;
    @include hover-transition (color 1s, background-color 1s);
  }
}

a:active {
  background-color: white;
  color: black;
}

#content {
  padding-top: 72px;
  font-size: .9em;
}

#grid {
  width: 100%;
}

@mixin heading-border($color) {
  border-bottom: 3px solid $color;
  border-top: 3px solid $color;
}

%heading {
  font-size: 2em;
  padding: 20px;
}

.black-heading {
  @include heading-border(black);
  @extend %heading;
}

.white-heading {
  @include heading-border(white);
  @extend %heading;
}

.divider {
  height: 80px;
  background-color: $light-green;
  box-shadow: 0 0 1em;
}

.section-wrapper {
  overflow: auto;
  position: relative;
}

.about-wrapper {
  @extend .section-wrapper;
  background-color: $dark-green;
  color: white;
  padding-top: 70px;
  text-align: center;
}

#about-text {
  margin: 0 auto;
  width: 65%;
  margin-top: 70px;
}

#skills {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  position: relative;
  height: 100%;
  bottom: 70px;
}

.opaque {
  opacity: 1;
}

%triangle {
  width: 0;
  height: 0;
}

.toptriangle {
  @extend %triangle;
  display: inline-block;
  border-right: 150px solid transparent;
  border-top: 150px solid $dark-green;
}

.bottomtriangle {
  @extend %triangle;
  border-left: 150px solid transparent;
  border-bottom: 150px solid $dark-green;
  right: 0;
  bottom: 0;
  position: absolute;
}

#greeting {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  position: relative;
  bottom: 110px;
  margin-top: 35px;
  padding-bottom: 15px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.bigger {
  font-size: 1.5em;
}

%devicon-size {
  font-size: 80px;
}

.devicons {
  padding-top: 50px;
  padding-bottom: 30px;
  @extend %devicon-size;
}

.bottom-devicons {
  padding-top: 30px;
  padding-bottom: 20px;
  @extend %devicon-size;
}

#projects-wrapper {
  background-color: white;
  padding-top: 70px;
  width: 100%;
}

#heading-container{
  text-align: center;
  margin-bottom: 90px;
  margin-top: 20px;
}

#projects {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 70px;
}

.project {
  border-right: 3px solid $dark-green;
  border-bottom: 3px solid $dark-green;
  position: relative;
  display:inline-block;
  margin: 10px;
  padding: 10px;
  height: 315px;
  width: 400px;
  vertical-align: top;
}

.screenshot {
  vertical-align: top;
  margin-right: 10px;
  height: 150px;
  width: 150px;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid $light-green;
}

.description {
  margin-top: -20px;
  width: 225px;
  display: inline-block;
  text-align: left;
}

.buttons {
  position: absolute;
  bottom: 18px;
}

.button {
  border: none;
  color: white;
  background-color: $dark-green;
  border: 2px solid $dark-green;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  letter-spacing: 0;
  &:hover {
    background-color: white;
    border: 2px solid $dark-green;
    color: $dark-green;
    @include hover-transition (color .5s, background-color .5s);
  }
  &:focus {
    outline: none;
    outline: 0;
  }
}

#contact-wrapper {
  text-align: center;
  background-color: $dark-green;
  padding-top: 70px;
  width: 100%;
  color: white;
}

.contact-text {
  margin: 0 auto;
  width: 65%;
  padding-top: 70px;
  padding-bottom: 20px;
}

.email {
  text-decoration: none;
  color: white;
  &:hover {
    color: black;
    transition: color .5s;
  }
  &:active {
    color:white;
    background-color: $dark-green;
  }
}

.icon-link {
  text-decoration: none;
  color: white;
  border: 1px solid $dark-green;
  border-radius: 12px;
  padding: 0 3px 0 3px;
  &:hover {
    font-weight: bold;
    color: $dark-green;
    border: 1px solid white;
    background-color: white;
    @include hover-transition (color 1s, background-color 1s);
  }
}

#linkedin {
  background-color: $dark-green;
  color: white;
  padding: 12px 10px 12px 10px;
  position: relative;
  bottom: -4px;
  border-radius: 12px;
  vertical-align: top;
  font-size: .8em;
  &:hover {
    background-color: white;
    color: $dark-green;
    @include hover-transition (color 1s, background-color 1s);
  }
}

#copyright {
  text-align: center;
  padding: 30px;
  color: white;
  font-size: 1.2em;
}

h2, h3 {
  font-weight: normal;
}

@media (max-width: 991px) {
  .project {
    width: 75%;
    height: auto;
    padding: 0 0 60px 0;
    margin-bottom:50px;
  }

  .description {
    width: 90%;
  }

  .screenshot{
    margin-bottom: 20px;
  }
}

@media (max-width: 519px) {
  ul {
    display: table;
    width: 100%;
  }

  #navlinks {
    width: 90%;
    margin: 0 auto;
  }

  li {
    display: table-cell;
    position: relative;
    padding: 0;
    text-align: center;
  }

  #name {
    display: none;
  }

  .project{
    width: 90%;
    height: auto;
    padding: 0 0 60px 0;
  }

  .screenshot{
    margin-bottom: 20px;
  }

  .buttons {
    position: inline-block;
    padding-top: 200px;
  }
}
